.tag-btn:hover {
  background-color: #2381ca !important;
  color: #fff !important;
}
.tag-btn:active {
  background-color: #3591d8 !important;
  color: #fff !important;
}
.domain_search_box {
  .select_dropdown {
    padding: 0px 10px;
  }
}
